body {
  background: rgb(243, 243, 243);
}

input {
  outline: none;
  color: rgb(80, 80, 80);
}

#to-do-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#to-do-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.overlay::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 417px;
  opacity: 0.3;
  background: linear-gradient(rgb(0, 0, 0), transparent);
}

.overlay::after {
  content: "";
  position: absolute;
  bottom: 135px;
  height: 10px;
  width: 417px;
  opacity: 0.1;
  background: linear-gradient(transparent, rgb(0, 0, 0));
}

#popup-modal::after {
  content: "";
  position: absolute;
  background: white;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  left: 46%;
  bottom: -13px;
  border-right: 1px solid rgba(0, 0, 0, 0.103);
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

textarea {
  resize: none;
}

#button-container {
  position: relative;
  /* background: green; */
}

#button-container div::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  border-right: 180px solid transparent;
  border-left: 0 solid transparent;
  border-bottom: 30px solid white;
}

#button-container div::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  border-right: 0 solid transparent;
  border-left: 180px solid transparent;
  border-bottom: 30px solid white;
}

.item-options {
  /* border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden; */
  position: relative;
}

.item-options div {
  height: 50%;
  width: 100%;
}

.item-options .edit, .item-options .remove {
  width: 20px;
}

.item-options .edit path {
  width: 20px;
  fill:#0092ff78;
}

.item-options .edit:hover path {
  width: 20px;
  fill:#0092ffc4;
}

.item-options .remove path {
  width: 20px;
  fill:#ff000078;
}

.item-options .remove:hover path {
  width: 20px;
  fill:#ff0000bd;
}